*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    color: #493703;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(0deg, #f5edc0, #ffdc7a);
    padding: 10px;
}

.box{
    width: 300px;
    margin: 0px auto 20px;
    padding: 40px 30px 70px;
}

.box h1{
    text-align: center;
    font-size: 130%;
    font-weight: bold;
}

ul{
    width: 500px;
    height: 700px;
    margin-left: -125px;
    overflow-y: scroll; 
}

ul::-webkit-scrollbar{
    width: 0.4em;
}

ul::-webkit-scrollbar-track{
    background-color: #d3c7a7;
}

ul::-webkit-scrollbar-thumb{
    background-color: #beb59f;
}

ul::-webkit-scrollbar-thumb:hover{
    background-color: #9e9885;
}

@supports(scrollbar-color: red blue){
    *{
        scrollbar-color: #d3c7a7 #beb59f;
        scrollbar-width: thin;
    }
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 17px 0px 12px;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin-left: 10%;
}

ul li::before{
    content:"";
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-image: url("images/unchecked.png");
    background-size: cover;
    background-position: center;
    left:-45px;
    top: 10px;
}

ul li.checked{
    color: #493703;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url("images/checked.png");
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #493703;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    border: solid 0px;
    border-radius: 50%;
    background-color: #fcc223;
    transition: 0.3s ease-in;
}

.row{
    position: fixed;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background:white;
    border-radius: 30px;
    padding-left: 20px;
    margin-top: 40%;
}

.row img{
    width: 35px;
    height: auto;
    cursor: pointer;
}

.row button{
    border: none;
    background: transparent;
    outline: none;
}

input{
    border: none;
    background: transparent;
    outline: none;
}

